* {
  margin: 0;
  padding: 0;
}
.menu-container {
  background-color: rgba(0, 0, 0, 0.792);
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menus {
  display: flex;
}
.logo-photo {
  width: 120px;
  padding: 20px;
}

.item {
  padding-right: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.item:hover {
  color: aqua;
  /* background-color: black; */
}
.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  border: 2px, solid, grey;
  background-image: url("images/background.png"),
    linear-gradient(45deg, #000, #0000004c);
    color: white
}

.banner-img {
  width: 300px;
}

.title {
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  margin: 20px 0px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 2px rgb(159, 253, 242);
  background-color: rgb(126, 228, 182);
  color: hwb(290 9% 5% / 0.999);
  font-weight: bold;
}

.btn:hover {
  background-color: black;
  transition: ease-in;
  width: 125px;
}

.about-text{
  margin: 30px 0px;
  text-align: center;
  font-size: 60px;
  color: white;
}

.about-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  /* padding: 20px; */
}

.about-info, h1{
  padding: 20px 0px;
}
.about-info, p{
  padding: 8px 0px;
  font-size: 18px;;
}

.box{
  width: 230px;
  height: 310px;
  border-radius: 20px;
  box-shadow: 4px 4px 15px grey;
  background-color: black;
  text-align: center;
  padding: 15px;
  color: wheat;
}

.icon{
  width: 70px;
}

.box-btn{
  /* background-color: gray; */
  color: white;
  font-weight: bolder;
}

.serv{
  background-image: url("images/background.png"),
  linear-gradient(45deg, #000, #0000004c);
}

.service-container{
  display: flex;
  justify-content: space-around;
  
  padding-bottom: 40px;
 
}

.footer-container{
  /* background-color: black; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #000;
  color: white;
  padding: 100px;
  height: 300px;
  list-style: none;
}

.footer-text{
  padding-left: 20px;
}

.Support li{
  padding-top: 10px;
}
hr{
  color: white;
  width: 200px;
}

.last{
  background-color: red;
  color: white;
}